.contenedor-principal{
  @apply w-full h-screen flex  items-center justify-center;
}


.neon-text {
  text-shadow: 0 0 10px #ff00d9, 0 0 20px #9916a5, 0 0 30px #557af464;
}
.titulos {
  @apply text-white text-5xl uppercase;
}

.marco{
  box-shadow: 15px 5px 10px #f61fc744;
  backdrop-filter: blur(30px);
  background-color: transparent;
 
}

.borde{
  border-color: 0 0 10px #ff00d9, 0 0 20px #9916a5, 0 0 30px #557af464;
}

.contenedor {
 @apply rounded-full p-14 pt-16 bg-white border marco  borde flex flex-col gap-2 w-full h-full hover:bg-white transition-transform hover:scale-105;
}

.decoracion {
  text-decoration: none;
}

.enlaces {
  @apply text-white transition-colors hover:text-purple-500 text-xl font-bold bg-transparent;
}

.boton{
  @apply bg-purple-400 px-6 py-4 rounded-full text-white font-bold neon-text transition-colors hover:bg-purple-200 transition-transform hover:scale-110 ;
}
.icono{
  @apply bg-white rounded-full p-5 text-purple-700 hover:bg-black hover:text-white;
}

.initial {
  background-color: transparent; 
 
}

.scroll {
  backdrop-filter: blur(60px);
  border-bottom: 1px solid #9916a5;
  z-index: 1;
  
}

.alineacion_iconos{
  @apply mx-auto text-pink-500  hover:text-white;
}

/*Animaciones de animista*/

.animacion_inicial{
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animacion_boton{
  animation: bounce-top 10s infinite both;
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}


@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.texto{
  display: block;
  white-space:nowrap;
  border-right: 4px solid;
  width: 16ch;
  animation: typing 3s steps(16),
  blink .5s infinite step-end alternate ;
  overflow: hidden;
}
@keyframes typing{
  from {width: 0}
}
@keyframes blink {
  50% {border-color: transparent}
}


.giro{
  border-radius: 50%;
  animation: girar-infinito 15s linear infinite;

}
@keyframes girar-infinito {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contenedor-contacto{
  backdrop-filter: blur(30px);
  border: 1px solid #9916a5;
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 55vh;
  border-radius: 1rem;
  color:white

  

}