.contenedor-principal{
  @apply w-full h-screen flex  items-center justify-center;
}


.neon-text {
  text-shadow: 0 0 10px #ff00d9, 0 0 20px #9916a5, 0 0 30px #557af464;
}
.titulos {
  @apply text-white text-5xl uppercase;
}

.marco:hover {
  box-shadow: 15px 5px 10px #f61fc744;
}

.contenedor {
 @apply rounded-full p-14 pt-16 bg-white border-4 border-pink-700  flex flex-col gap-2 w-full h-full transition-colors hover:bg-pink-700 hover:text-white;
}
.contenedor:hover {
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
  }
}

.decoracion {
  text-decoration: none;
}

.enlaces {
  @apply text-white transition-colors hover:text-purple-500 text-xl font-bold;
}

.boton{
  @apply bg-purple-400 px-6 py-4 rounded-full text-white font-bold neon-text transition-colors hover:bg-purple-200 hover:text-black ;
}
.icono{
  @apply bg-white rounded-full p-5 text-purple-700 hover:bg-black hover:text-white;
}

.initial {
  background-color: transparent; 
}

.scroll {
  background-color: rgb(255, 255, 255);
  color:black; 
}